
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Relatório de Custos", "RelatorioCustos", "PowerBI") <br />
@Html.ActionLink("Relatório de Produtos Mais Vendidos", "RelatorioProdutosMaisVendidos", "PowerBI") <br />
@Html.ActionLink("Relatório de Rentabilidade", "RelatorioRentabilidade", "PowerBI") <br />
@Html.ActionLink("Relatório de Vendas", "RelatorioVendas", "PowerBI")