
@{
    ViewBag.Title = "Cascardi POC";
}

<h2>Cascardi POC</h2>

@Html.ActionLink("Cenário 1 (Desempenho) - Hangfire", "Index", "hangfire")
<br />
@Html.ActionLink("Cenário 2 (Usabilildade) - PowerBI", "Index", "PowerBI")
<br />
@Html.ActionLink("Cenário 3 (Acessibilidade) - Cadastro de Vendedores", "Index", "Vendor")
